body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    height: 100vh;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}

.frame {
    width: 400px;
    height: 350px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 5%;
   
    padding: 30px;
}
    


p, .numbers {
    color: hsl(217, 12%, 63%);
    
}

.numbers {
    display:flex;
    justify-content: space-between;
  
}

#one {
    padding: 1rem 1.4rem;
}


.number {
    border-radius: 2rem;
    padding: 1rem 1.3rem;
    background-color: hsla(216, 12%, 54%, .15);
    font-size: 1rem;
}

#star {
    background-color: hsla(216, 12%, 54%, .15);
    padding: 1rem 1rem;
    border-radius: 2rem;
}
button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 2rem;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 5px;
}

.feedback {
    display:none;
    text-align: center;

}

button:hover {
    color:hsl(25, 97%, 53%);
    background-color:hsl(0, 0%, 100%);
    cursor: pointer;
}

p {
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.number:hover {
    color:hsl(0, 0%, 100%);
    background-color: hsl(217, 12%, 63%);
    cursor: pointer;
}

.number:focus {
    color:hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

#output {
    color: hsl(25, 97%, 53%);
    background-color: hsla(216, 12%, 54%, .15);
    display: inline-block;
    padding: 6px 10px;
    border-radius: 25px;
    margin-bottom: 16px;

}